 /* Estilos globais */
 body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
    margin: 10px;
}

h1 {
    background-color: rgba(0, 0, 255, 0.989);
    color: #fff;
    padding: 20px;
    text-align: center;
}

p {
    margin: 10px;
    text-align: center;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    max-width: 1000px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color:rgba(50, 0, 248, 0.485);
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color:rgb(6, 30, 214);
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

button a {
    color: #fff;
    text-decoration: none;
}

/* Cor dos links Editar e Deletar */
a.edit-link {
    color: blue;
}

a.delete-link {
    color: red;
}